
<%- include("partials/header.ejs") %>
<div class="px-4 py-5 my-5 text-center">
    
    <h1 class="display-5 fw-bold head">Create Your Todo Lists</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Quickly create and customize Your own todo lists with Infinite Todo, not the world’s most popular source to create todo lists, but visit it and give your reviews, and if you find any problem regard using this application then click on the instructions button given below !</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        
        <a href="/instruction"><button type="button" class="main btn-lg px-4">Instructions</button></a>
      </div>
    </div>
  </div>
<%- include("partials/footer.ejs") %>